@media screen and (max-width: small) {
  .sm-hide {
    display: none;
  }
}

@media screen and (max-width: medium) {
  .md-hide {
    display: none;
  }
}

@media screen and (max-width: large) {
  .lg-hide {
    display: none;
  }
}
