// resets
l-plain { list-style: none; }
l-flat { display: flex; }

// styles
l-circle { list-style-type: circle; }
l-square { list-style-type: square; }
l-roman { list-style-type: upper-roman; }
l-alpha { list-style-type: lower-alpha; }
