// align
.t-center { text-align: center; }
.t-right { text-align: right; }
.t-left { text-align: left; }
.t-justify { text-align: justify; }


// transform
.t-caps { text-transform: capitalize; }
.t-upper { text-transform: uppercase; }
.t-lower { text-transform: lowercase;}

// decoration
.t-none { text-decoration: none; }
.t-underline { text-decoration: underline; }
.t-strike { text-decoration: strike; }

// style
.t-italics { font-style: italic; }
