// single side
.b  { border: border-default solid; }
.bt { border-top: border-default solid; }
.bb { border-bottom: border-default solid; }
.bl { border-left: border-default solid; }
.br { border-right: border-default solid; }

.b-n  { border: border-narrow solid; }
.bt-n { border-top: border-narrow solid; }
.bb-n { border-bottom: border-narrow solid; }
.bl-n { border-left: border-narrow solid; }
.br-n { border-right: border-narrow solid; }

.b-w  { border: border-wide solid; }
.bt-w { border-top: border-wide solid; }
.bb-w { border-bottom: border-wide solid; }
.bl-w { border-left: border-wide solid; }
.br-w { border-right: border-wide solid; }

.b-0  { border: 0; }
.bt-0 { border-top: 0; }
.bb-0 { border-bottom: 0; }
.bl-0 { border-left: 0; }
.br-0 { border-right: 0; }

// multiple sides
.btb { border-top: border-default; border-bottom: border-default; }
.blr { border-left: border-default; border-right: border-default; }

.btb-n { border-top: border-narrow; border-bottom: border-narrow; }
.blr-n { border-left: border-narrow; border-right: border-narrow; }

.btb-w { border-top: border-wide; border-bottom: border-wide; }
.blr-w { border-left: border-wide; border-right: border-wide; }

// rounded
.rounded   { border-radius: border-radius; }
.rounded-t { border-radius: border-radius, border-radius, 0, 0; }
.rounded-b { border-radius: 0, 0, border-radius, border-radius; }
.rounded-l { border-radius: border-radius, 0, 0, border-radius; }
.rounded-r { border-radius: 0, border-radius, border-radius, 0; }

// circle
.circle { border-radius: 50%; }
