// border
.border  { border: border-default solid; }
.border-t { border-top: border-default solid; }
.border-b { border-bottom: border-default solid; }
.border-l { border-left: border-default solid; }
.border-r { border-right: border-default solid; }

.border-n  { border: border-narrow solid; }
.border-tn { border-top: border-narrow solid; }
.border-bn { border-bottom: border-narrow solid; }
.border-ln { border-left: border-narrow solid; }
.border-rn { border-right: border-narrow solid; }

.border-w  { border: border-wide solid; }
.border-tw { border-top: border-wide solid; }
.border-bw { border-bottom: border-wide solid; }
.border-lw { border-left: border-wide solid; }
.border-rw { border-right: border-wide solid; }

.b0  { border: 0; }
.bt0 { border-top: 0; }
.bb0 { border-bottom: 0; }
.bl0 { border-left: 0; }
.br0 { border-right: 0; }

.rounded   { border-radius: border-radius; }
.rounded-t { border-radius: border-radius, border-radius, 0, 0; }
.rounded-b { border-radius: 0, 0, border-radius, border-radius; }
.rounded-l { border-radius: border-radius, 0, 0, border-radius; }
.rounded-r { border-radius: 0, border-radius, border-radius, 0; }

.circle { border-radius: 50%; }
