// Single Side
.m  { margin: margin-default; }
.mt { margin-top: margin-default; }
.mb { margin-bottom: margin-default; }
.ml { margin-left: margin-default; }
.mr { margin-right: margin-default; }

.m-n  { margin: margin-narrow;}
.mt-n { margin-top: margin-narrow; }
.mb-n { margin-bottom: margin-narrow; }
.ml-n { margin-left: margin-narrow; }
.mr-n { margin-right: margin-narrow; }

.m-w  { margin: margin-wide; }
.mt-w { margin-top: margin-wide; }
.mb-w { margin-bottom: margin-wide; }
.ml-w { margin-left: margin-wide; }
.mr-w { margin-right: margin-wide; }

.m-0  { margin: 0; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }
.mr-0 { margin-right: 0; }

// Multiple Sides
.mtb { margin-top: margin-default; margin-bottom: margin-default; }
.mlr { margin-left: margin-default; margin-right: margin-default; }

.mtb-n { margin-top: margin-narrow; margin-bottom: margin-narrow; }
.mlr-n { margin-left: margin-narrow; margin-right: margin-narrow; }

.mtb-w { margin-top: margin-wide; margin-bottom: margin-wide; }
.mlr-w { margin-left: margin-wide; margin-right: margin-wide; }
