// margin
.m  { margin: margin-default; }
.mt { margin-top: margin-default; }
.mb { margin-bottom: margin-default; }
.ml { margin-left: margin-default; }
.mr { margin-right: margin-default; }

.mn  { margin: margin-narrow;}
.mtn { margin-top: margin-narrow; }
.mbn { margin-bottom: margin-narrow; }
.mln { margin-left: margin-narrow; }
.mrn { margin-right: margin-narrow; }

.mw  { margin: margin-wide; }
.mtw { margin-top: margin-wide; }
.mbw { margin-bottom: margin-wide; }
.mlw { margin-left: margin-wide; }
.mrw { margin-right: margin-wide; }

.m0  { margin: 0; }
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.mr0 { margin-right: 0; }
