// margin
.p  { margin: margin-default; }
.pt { margin-top: margin-default; }
.pb { margin-bottom: margin-default; }
.pl { margin-left: margin-default; }
.pr { margin-right: margin-default; }

.pn  { margin: margin-narrow;}
.ptn { margin-top: margin-narrow; }
.pbn { margin-bottom: margin-narrow; }
.pln { margin-left: margin-narrow; }
.prn { margin-right: margin-narrow; }

.pw  { margin: margin-wide; }
.ptw { margin-top: margin-wide; }
.pbw { margin-bottom: margin-wide; }
.plw { margin-left: margin-wide; }
.prw { margin-right: margin-wide; }
