// padding
.p  { padding: padding-default; }
.pt { padding-top: padding-default; }
.pb { padding-bottom: padding-default; }
.pl { padding-left: padding-default; }
.pr { padding-right: padding-default; }

.pn  { padding: padding-narrow;}
.ptn { padding-top: padding-narrow; }
.pbn { padding-bottom: padding-narrow; }
.pln { padding-left: padding-narrow; }
.prn { padding-right: padding-narrow; }

.pw  { padding: padding-wide; }
.ptw { padding-top: padding-wide; }
.pbw { padding-bottom: padding-wide; }
.plw { padding-left: padding-wide; }
.prw { padding-right: padding-wide; }
