// single side
.p  { padding: padding-default; }
.pt { padding-top: padding-default; }
.pb { padding-bottom: padding-default; }
.pl { padding-left: padding-default; }
.pr { padding-right: padding-default; }

.p-n  { padding: padding-narrow;}
.pt-n { padding-top: padding-narrow; }
.pb-n { padding-bottom: padding-narrow; }
.pl-n { padding-left: padding-narrow; }
.pr-n { padding-right: padding-narrow; }

.p-w  { padding: padding-wide; }
.pt-w { padding-top: padding-wide; }
.pb-w { padding-bottom: padding-wide; }
.pl-w { padding-left: padding-wide; }
.pr-w { padding-right: padding-wide; }

.p-0  { padding: 0; }
.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }

// multiple side
.ptb { padding-top: padding-default; padding-bottom: padding-default; }
.plr { padding-left: padding-default; padding-right: padding-default; }

.ptb-n { padding-top: padding-narrow; padding-bottom: padding-narrow; }
.plr-n { padding-left: padding-narrow; padding-right: padding-narrow; }

.ptb-w { padding-top: padding-wide; padding-bottom: padding-wide; }
.plr-w { padding-left: padding-wide; padding-right: padding-wide; }
