// colors
.cp  { color: primary; }
.cs  { color: secondary; }
.cw   { color: white; }
.cow { color: off-white; }

// hover colors
.hcp:hover  { color: primary; }
.hcs:hover  { color: secondary; }
.hcw:hover { color: white; }
.hcow:hover { color: off-white; }

// background colors
.bcp { background-color: primary; }
.bcs { background-color: secondary; }
.bcw { background-color: white; }
.bcow { background-color: off-white; }

// hover background colors
.hbcp:hover { color: primary; }
.hbcs:hover { color: secondary; }
.hbcw:hover { background-color: white; }
.hbcow:hover { background-color: off-white; }
