.self-center {
  margin: 0 auto;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-cv {
  display: flex;
  align-items: center;
}

.flex-cf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-s {
  display: flex;
  justify-content: flex-start;
}

.flex-e {
  display: flex;
  justify-content: flex-end;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-space-a {
  display: flex;
  justify-content: space-around;
}
