// site-width
.site-width {
  margin: 0 auto;
  max-width: width-common;
  padding: 0 padding-narrow;
}

.site-width-narrow {
  margin: 0 auto;
  max-width: width-narrow;
  padding: 0 padding-narrow;
}

.site-width-full {
  margin: 0 auto;
  max-width: width-full;
  padding: 0 padding-narrow;
}
