// site-width
.site-width {
  margin: 0 auto;
  max-width: width-common;
}

.site-width-narrow {
  margin: 0 auto;
  max-width: width-narrow;
}

.site-width-full {
  margin: 0 auto;
  max-width: width-full;
  width: 100%;
}
