// LAYOUT

// site-width

.site-width {
  margin: 0 auto;
  max-width: width-common;

  &.narrow {
    max-width: width-narrow;
  }

  &.full {
    max-width: width-full;
  }
}

// grid
.column {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.row {
  display: flex;
  flex-flow: row;
  flex: 1;
}

// positioning
.center {

  &.slf {
    margin: 0 auto;
  }

  &.children {
    display: flex;
    justify-content: center;

    &.vertical {
      justify-content: flex-start;
      align-items: center;
    }

    &.full {
      justify-content: center;
      align-items: center;
    }

    &.end {
      justify-content: flex-end;
    }
  }
}

// padding

// margin

// borders
