
// colors
primary = green
secondary = blue

// fonts
font-header = "Open Sans";
font-body = "Open Sans";

// font weight
normal = 400;
light = 200;
heavy = 600;

// font size
body-size = 1.4rem

heading-dif = .4rem;
h1-size = 4rem;
h2-size = (h1-size - heading-dif);
h3-size = (h2-size - heading-dif);
h4-size = (h3-size - heading-dif);
h5-size = (h4-size - heading-dif);
h6-size = (h5-size - heading-dif);

// widths
width-common = 106rem
width-narrow = 90rem
width-full = 100%

// padding
padding-default = 2rem;
padding-narrow = (padding-default x .5)
padding-wide = (padding-default x 2)

//margin
margin-default = 2rem;
margin-narrow = (margin-default x .5)
margin-wide = (margin-default x 2)

//borders
border-default = .3rem
border-narrow = .1rem
border-wide = .5rem

border-radius = .2rem
