
// colors
primary = #2C3037
secondary = #FE6A6E
white = #FFFFFF
off-white = #EEEEEE

// fonts
font-header = "Open Sans";
font-body = "Open Sans";

// font size
body-size = 1.4rem

heading-dif = .5rem;
h1-size = 4rem;
h2-size = (h1-size - heading-dif);
h3-size = (h2-size - heading-dif);
h4-size = (h3-size - heading-dif);
h5-size = (h4-size - heading-dif);
h6-size = (h5-size - heading-dif);

// font weight
light = 200;
normal = 400;
heavy = 600;

// widths
width-common = 106rem
width-narrow = 90rem
width-full = 100%

// padding
padding-default = 2rem;
padding-narrow = (padding-default * .5)
padding-wide = (padding-default * 2)

//margin
margin-default = 2rem;
margin-narrow = (margin-default * .5)
margin-wide = (margin-default * 2)

//borders
border-default = .3rem
border-narrow = .1rem
border-wide = .5rem

border-radius = .2rem

// media-q sizes
large = 1000px;
medium = 700px;
small = 400px;
