
// colors
primary = green
secondary = blue

// widths
width-common = 106rem
width-narrow = 90rem
width-full = 100%

// fonts
body-size = 1.4rem

// padding
padding-default = 2rem;
padding-narrow = (padding-default x .5)
padding-wide = (padding-default x 2)

//margin
margin-default = 2rem;
margin-narrow = (margin-default x .5)
margin-wide = (margin-default x 2)

//borders
border-default = .3rem
border-narrow = .1rem
border-wide = .5rem

border-radius = .2rem
